:root {
  --bg-color: rgb(34, 34, 34);
  --typewriterSpeed: 4.8s;
  --typewriterCharacters: 25;
}
.card.active{
  display: block;
}
.card{
  display: none;
}

body {
  margin: 0;
  font-family: "Dancing Script", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}
h1 {
  color: #ffffff;
  font-size: clamp(16px, 3vw + 16px, 64px);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: #ffffff;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: #B3B3B3;
  font-size: 32px;
  font-weight: 400;
  opacity: 0;
  transform: translateY(48px);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
}
.continue{
  color: #B3B3B3;
  font-size: 15px;
  font-family: "Dancing Script", sans-serif;
  background-color: rgb(34, 34, 34);
  cursor: pointer;
  border: solid;  
  border-radius: 10px;
  opacity: 0;
  transform: translateY(48px);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;


}


@keyframes apear {
  
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
